{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}



{% endblock %}
{% block content %}


<div class="starter-template">


    	<form action="{{ url_for('predict')}}" method="POST">
        <div>
        {% if msg %}
        <p>{{ msg }}</p>
        {% endif %}
        </div>

    		<p>ENTRER VOTRE MESSAGE</p>
    		<!-- <input type="text" name="comment"/> -->
    		<textarea name="message" rows="4" cols="50"></textarea>
    		<br/>

    		<input type="submit" class="btn-info" value="predict">

    	</form>

    <div class="container">

      <div class="starter-template">
        <h1>Analyser les sentiments d'un texte grâce à l'intelligence artificielle</h1>
        <p class="lead">Grâce au NLP : natural language processing <br> Nous pouvons savoir si votre texte est plutôt négatif ou positif</p>
      </div>
</div>
    </div><!-- /.container -->

{% endblock %}
